@model IEnumerable<ProjectTimeTrackerAuth.Models.TimeLog>

@{
    ViewData["Title"] = "Time Logs";
    ViewData["Tab"] = "Time Logs";
}

<h2>Time Logs</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activities.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeLogID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimeLogID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeLogID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
